@font-face {
  font-family: "Pacifico";
  src: url(/assets/fonts/Pacifico.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: "Times";
	background-color: #ffffff;
}

h1{
	font-family: "Pacifico";
	color: white;
	background-color: purple;
	font-size:60px;
	margin-bottom: 0px;
}

h2{
	color: white;
	background-color: #a68ed4;
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
}

a {
	color: black;

}

#profile-pic {
	max-width: 90px;
	margin : 10px ;

}


#tfheader{
			background-color: purple;
		}
		#tfnewsearch{
			float:right;
			padding:10px;
			padding-top: 0px;
		}
		.tftextinput{
			margin: 0px;
			padding: 5px 25px;
			font-size:14px;
			border:1px solid purple; border-right:0px;
		}
		.tfbutton {
			padding: 5px 10px;
			margin: 0px;
			font-size:14px;
			color: white;
			border: solid 2px black;
			background: #8565c4;
			
		}
		.tfbutton:hover {
			background: #8565c4;
		}
		
		.tfclear{
			clear:both;
		}
form {
	color:black;
	padding-top: 20px;
	
}


#menu {
	color: black;
	float: left;
	padding-right: 400px;

}


table {
	color: black ;
	padding: 8px;

}

p {
	padding-bottom: -10px;
	padding-left: 40px;
}

#top-layer {
    float:left; 
}

#bottom-layer { 
	 float:left; 
}

li {
	display: inline;
}
